header {
    background-color: rgb(240, 255, 240);
}

.container {
    padding-bottom: 60px;
}

.color-green {
    color: rgb(33, 181, 115);
}

.color-red {
    color: rgb(248, 128, 84);
}

.nav-item {
    margin-right: 20px;
}

.green-button {
    background-color: rgb(33, 181, 115);
    color: white;
    border-radius: 30px;
}

#cover h1 {
    font-size: 50px;
    font-weight: 900;
}

#cover img {
    width: 90%;
}

#info img {
    width: 65px;
    height: 80px;
}

#info .green-bg {
    background-color: rgb(248, 255, 251);
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

#info h4 {
    margin: 20px auto 0;
}

#topic, #student, #test, #students {
    transition: box-shadow 0.5s, transform 0.2s;
}

#topic:hover {
    background-color: white;
    border: none;
    box-shadow: 10px 10px 15px grey;
    transform: scale(1.02);
}

#student:hover {
    background-color: white;
    border: none;
    box-shadow: 10px 10px 15px grey;
    transform: scale(1.02);
}

#test:hover {
    background-color: white;
    border: none;
    box-shadow: 10px 10px 15px grey;
    transform: scale(1.02);
}

#students:hover {
    background-color: white;
    border: none;
    box-shadow: 10px 10px 15px grey;
    transform: scale(1.02);
}

.card {
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px lightgrey;
}

#testimonial img {
    width: 65%;
}

footer {
    background-color: rgb(40, 37, 49);
    color: rgb(247, 247, 247);
    font-size: 13px;
    padding-top: 30px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .copyright {
    color: lightgrey;
    text-align: center;
    margin-bottom: 0;
}

#online-courses .card-footer img {
    width: 20px;
    height: 20px;
}

#online-courses .card-footer {
    border-top: none;
    background: none;
    padding: 10px 40px 0;
}

.copyright-name {
    color: goldenrod;
    margin-left: 10px;
}